<nav class="navbar navbar-expand-lg navbar-light bg-white px-0 py-3">
  <div class="container-xl">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img
        src="https://scontent.fsbz1-2.fna.fbcdn.net/v/t1.6435-9/233577681_2984320091806873_4646231544780989887_n.jpg?_nc_cat=103&_nc_rgb565=1&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=RbRNbtFDnscAX9UxyOA&_nc_ht=scontent.fsbz1-2.fna&oh=a607363c30898584f9fdcba5f383cacf&oe=616121F6"
        class="h-8 avatar" alt="...">
      Planner
    </a>
    <!-- Navbar toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Nav -->
      <div class="navbar-nav mx-lg-auto">
        <a class="nav-item nav-link active" href="#" aria-current="page">Home</a>
        <a class="nav-item nav-link active" routerLink="calendar" routerLinkActive="active">Calendar</a>
        <a class="nav-item nav-link active" *ngIf="!currentUser" routerLink="reset-password" routerLinkActive="active">Password Reset</a>
        <a class="nav-item nav-link" routerLink="register" routerLinkActive="active" *ngIf="!currentUser">Register</a>
        <a class="nav-item nav-link" *ngIf="currentUser">{{currentUser.email}}</a>

      </div>
      <!-- Right navigation -->
      <!-- Action -->
      <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <a href="#" class="btn btn-sm btn-primary w-full w-lg-auto" routerLink="login" routerLinkActive="active"
          *ngIf="!currentUser">
          Sign In
        </a>
        <span *ngIf="currentUser">{{currentUser.email}}&nbsp;</span>
        <a href="#" class="btn btn-sm btn-primary w-full w-lg-auto" routerLink="login" routerLinkActive="active" (click)="logout()" *ngIf="currentUser">
          Sign Out
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- main content container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">

      <router-outlet></router-outlet>
    </div>
  </div>
</div>