.navbar {
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
}

.border {
    background-color: #eee;
}

.highlighted {
    margin-top: 10px;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
    background-color: #fbfbfb;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 15%;
    margin-top: 0;
}

.navbar-brand {
    font-size: 30px;
    color: (33,37,41);
    font-weight: bold;
}