<div class="col-sm-8 offset-sm-2" style="box-shadow: 10px 10px 10px 10px rgba(167, 157, 115, 0.562);">
  <div class="register-form-title">
    <h2>Registration form</h2>
  </div>  

  <p style="text-align: center; margin-bottom: 50px;">Fields marked with an asterisk (*) are required</p>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <app-person-form formControlName="person" [class.error]="registerForm.get('person')?.invalid"></app-person-form>
    
    <app-label-form formControlName="label" (selectedLabelsClickedEmitter) = 'showSelectedLabelsArray($event)'></app-label-form>
    <app-role-form formControlName="role" (roleClickedEmitter)='showNextRoleComponent($event)'></app-role-form>
    <app-user-form formControlName="user" *ngIf="selectedRoleFromParentComponent == '73acf2bb-7bca-4ab2-b3ca-c4dbe71a198d' || selectedRoleFromParentComponent == 'f974b6f0-0bd3-4f27-aac2-17b9c4f082f4'"></app-user-form>
    <app-beneficiary-form 
        formControlName="beneficiary" 
        *ngIf="selectedRoleFromParentComponent == 'dc3b93f0-b60b-4659-b966-60350c7639db'"
        (dayOfWeekClickedEmitter)='showNextDayOfTheWeekComponent($event)'
        >
    </app-beneficiary-form>


    <div class="d-grid gap-2 col-2 mx-auto">

      <button class="btn btn-warning" *ngIf="selectedRoleFromParentComponent == '73acf2bb-7bca-4ab2-b3ca-c4dbe71a198d' || selectedRoleFromParentComponent == 'f974b6f0-0bd3-4f27-aac2-17b9c4f082f4'"
        [disabled]="registerForm.get('person')?.invalid ||         
        registerForm.get('beneficiary')?.invalid ||
        registerForm.get('user')?.invalid" 
        data-toggle="tooltip" data-placement="top" title="Tooltip on top"
        >
        Sign Up
 
    </button>
  </div>

  <div class="d-grid gap-2 col-2 mx-auto">
  


      <button class="btn btn-warning" *ngIf="selectedRoleFromParentComponent == 'dc3b93f0-b60b-4659-b966-60350c7639db'"
            [disabled]="registerForm.get('person')?.invalid ||       
            selectedDayOfWeekFromParentComponent == '' ||
            registerForm.get('user')?.invalid">
            
   
            Sign Up
        </button>


    
  </div>
  </form>
</div>



