<div class="col-sm-8 offset-sm-2 shadow-form pb-5" style="max-width: 30rem;margin:auto">
  <hr class="my-2">
  <h3 class="fw-bold">Registration Form</h3>
  <hr class="my-2">

  <p class="text-secondary">Fields marked with an asterisk (*) are required.</p>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <app-person-form formControlName="person" [class.error]="registerForm.get('person')?.invalid"></app-person-form>

    <app-label-form formControlName="label" (selectedLabelsClickedEmitter)='showSelectedLabelsArray($event)'>
    </app-label-form>
    <app-role-form formControlName="role" (roleClickedEmitter)='showNextRoleComponent($event)'
      (sendSelectedRoleNameEmmiter)='showSelectedRoleName($event)'></app-role-form>
    <app-user-form formControlName="user" *ngIf="selectedRoleName == 'Admin' || selectedRoleName == 'Volunteer'">
    </app-user-form>
    <app-beneficiary-form formControlName="beneficiary" *ngIf="selectedRoleName == 'Beneficiary'"
      (dayOfWeekClickedEmitter)='showNextDayOfTheWeekComponent($event)'>
    </app-beneficiary-form>


    <button class="btn btn-sm btn-primary w-100" *ngIf="selectedRoleName == 'Admin' || selectedRoleName == 'Volunteer'" [disabled]="registerForm.get('person')?.invalid ||         
        registerForm.get('beneficiary')?.invalid ||
        registerForm.get('user')?.invalid" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      Sign Up

    </button>
    <button class="btn btn-sm btn-primary w-100" *ngIf="selectedRoleName == 'Beneficiary'" [disabled]="registerForm.get('person')?.invalid ||       
            selectedDayOfWeekFromParentComponent == ''">


      Sign Up
    </button>
</form>
</div>