<div class="col-sm-8 offset-sm-2" style="max-width: 30rem;margin:auto">
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <hr class="my-2">
    <h3 class="fw-bold">Reset your password</h3>
    <hr class="my-2">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label" for="email">E-mail address</label>
            <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Type your e-mail" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="token">Token</label>
            <input type="text" formControlName="token" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.token.errors }" placeholder="Security token received in the email" />
            <div *ngIf="submitted && f.token.errors" class="invalid-feedback">
                <div *ngIf="f.token.errors.required">Token is required</div>
            </div>
        </div>
        <div class="mb-3">  
            <label class="form-label col-6" for="password">New Password</label>
            <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password"/>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
        </div>
        <button [disabled]="loading" class="mt-3 btn btn-primary w-100">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Continue
        </button>
        <div class="mt-3 col-12 text-center">
            <a class="text-decoration-none" href="#" routerLink="../login" routerLinkActive="active">
                Return to sign in
            </a>
        </div>
    </form>
</div>
