/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
@import "~@ng-select/ng-select/themes/default.theme.css";
body {
    font-family: 'Inter', sans-serif !important;
}

hr {
    color: #dee2e6;
}

  .form-group.required .form-label:after {
    content:"*";
    color:red;
  }
.ng-select.custom .ng-value-label, .ng-value-icon {
    color: #007bff!important;
    background-color: #efeffe !important;
}

.bg-soft-success {
    background-color: #ccf5e7 !important;
}

.bg-soft-danger {
    background-color: #ffd6e0 !important;
}

.bg-soft-info {
    background-color: #efeffe !important;
}

.shadow-form {
    max-width: 30rem;margin:auto;
    box-shadow: 0 1px 16px 10px rgb(64 64 64 / 8%);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
}
