<div (mouseenter) = "mouseEnter()" (mouseleave)="mouseLeave()" data-bs-toggle="modal" [attr.data-bs-target]="'#' + title" class="text-white event bg-primary"
  [style.z-index]="zIndex" [style.left.%]="100 * leftEdge" [style.height.px]="height" [style.top.px]="topEdge"
  [style.width.%]="widthPercentage * 100">
  <span style="display: block" class="title">{{weeklyLog.beneficiaryFirstName}} {{weeklyLog.beneficiaryLastName}}</span>
  <span style="display: block" class="timeSpan">{{renderHour(startHour)}}-{{renderHour(endHour)}}</span>

</div>

<!-- Modal -->
<div class="modal fade" id="{{title}}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="staticBackdropLabel">Schedule</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Beneficiary: {{weeklyLog.beneficiaryFirstName}} {{weeklyLog.beneficiaryLastName}}</p>
        <p>Assigned to: {{weeklyLog.Schedule ? weeklyLog.Schedule.volunteerFirstName : 'No one'}}</p>
        <p>Time interval: {{renderHour(startHour)}}-{{renderHour(endHour)}}</p>
        <p>Date: {{date | date:'dd/MM/yyyy'}}</p>
        <p class="d-flex align-items-center" *ngIf="beneficiary">
          Labels: <ng-container *ngFor="let label of beneficiary.labels">
          <span class="badge bg-soft-info text-primary">{{label.labelName}}</span>
      </ng-container></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
        <button *ngIf="!weeklyLog.Schedule && hasRole('Volunteer')" (click)="assignSchedule()" type="button" class="btn btn-primary rounded-pill">Assign</button>
        <button *ngIf="weeklyLog.Schedule?.volunteerId == getCurrentUser()?.personId" (click)="unassignSchedule()" type="button" class="btn btn-primary rounded-pill">Unassign</button>
      </div>
    </div>
  </div>
</div>